    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
    }

    html {
        height: 100%;
    }

    body {
        width: 100%;
        background: linear-gradient(azure, #7d17e4) fixed;
        font-family: 'Hiragino Mincho Pro';
    }

    .ui {
        width: 80%;
        min-width: 800px;
        height: 80vh;
        margin: 4rem auto;
        background: linear-gradient(#7d17e4, azure);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .left-box {
        width: 40%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .input {
        width: 100%;
        height: 80%;
        padding: 2rem;
        background: rgba(125, 23, 228, 0.7);
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        box-sizing: border-box;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: azure;
    }

    .back {
        display: block;
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 10px;
        color: azure;
        font-size: 30px;
        border: 2px solid azure;
        background: rgba(125, 23, 228, 0.7);
    }

    .back:hover {
        background: azure;
        color: blueviolet;
    }

    input {
        height: 30px;
        padding: 0 1rem;
        white-space: 10px;
        letter-spacing: 5px;
        background: rgba(240, 255, 255, 0.7);
        outline: none;
        border: none;
        box-shadow: 0 0 10px black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    textarea {
        padding: 1rem;
        letter-spacing: 5px;
        resize: none;
        background: rgba(240, 255, 255, 0.7);
        outline: none;
        border: none;
        box-shadow: 0 0 5px black;
        border-radius: 10px;
    }

    button {
        height: 40px;
        border-radius: 10px;
        font-size: 30px;
        outline: none;
        background: rgba(196, 154, 236, 0.7);
        color: azure;
    }

    button:active {
        background: rgba(100, 50, 146, 0.7);
    }

    .text-box {
        width: 45%;
        height: 90%;
        background: rgba(125, 23, 228, 0.7);
        border-radius: 10px;
        box-shadow: 0 0 10px inset black;
        box-sizing: border-box;
        font-size: 22px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: azure;
    }

    .text-box h3 {
        height: 10%;
        width: 80%;
        font-size: 40px;
        text-align: center;
        border-bottom: 2px ridge azure;
        margin-top: 20px;
    }

    #output {
        height: 84%;
        width: 90%;
        overflow: scroll;
        padding: 1rem;
    }

    .text_box {
        float: left;
        clear: both;
        color: #7d17e4;
        background: azure;
        padding: 0 1rem;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    li{
        display: flex;
        font-size: 20px;
        line-height: 40px;
        height: 40px;
    }


    .deleat{
        margin: 10px;
        padding: 5px;
        font-size: 16px;
        height: 30px;
    }