* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(#e8daf5, #7d17e4) fixed;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0 2rem;
    background: rgba(128, 23, 228, 0.8);
    z-index: 10;
    display: flex;
    align-items: center;
}

h1 {
    width: 60%;
    color: azure;
    text-shadow: 5px 5px 10px black;
}

header p {
    padding: 0 1rem;
}

header input {
    height: 40px;
    width: 200px;
    margin-right: 1rem;
    padding: 0 1rem;
    font-weight: bold;
    font-size: 20px;
}

header button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

main {
    position: absolute;
    top: 50px;
    bottom: 50px;
    width: 100%;
    display: flex;
}

.chat h2 {
    height: 8%;
    padding: 1rem 2rem;
    text-shadow: 5px 5px 10px black;
    color: azure;
}

.left {
    width: 60%;
    height: 100%;
    margin-bottom: 50px;
    border: azure 2px solid;
    display: flex;
    flex-direction: column;
}

.img-box {
    height: 60%;
    width: 100%;
    padding: 0 2rem;
    border-bottom: azure 2px solid;
    display: flex;
    flex-direction: column;
}

#img-output {
    width: 100%;
    height: 80%;
    overflow: scroll;
    text-align: center;
}

#img-output h4 {
    font-size: 20px;
    color: azure;
}

.img {
    height: 100%;
    clear: both;
    margin-bottom: 2rem;
}

#imgSample {
    height: 80%;
    margin: 0 auto;
    background: black;
}

h2 {
    padding: 10px 2rem;
    text-shadow: 5px 5px 10px black;
    color: azure;
}

.task {
    height: 40%;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.chat {
    width: 40%;
    height: 100%;
    margin-bottom: 50px;
    border: azure 2px solid;
    border-left: none;
    display: flex;
    flex-direction: column;
}

.output {
    height: 62%;
    width: 100%;
    padding: 0 2rem;
    overflow: scroll;
}

.myText {
    float: right;
    clear: both;
    color: #7d17e4;
    background: azure;
    margin-bottom: 1rem;
    padding: 0 1rem;
    border-radius: 10px;
}

.myText p {
    text-align: right;
}

.myImg {
    margin-bottom: 1rem;
}

.otherImg {
    margin-bottom: 1rem;
}

.myImg img {
    width: 70%;
    float: right;
    clear: both;
}

.otherImg img {
    width: 70%;
    clear: both;
}

.myText a {
    color: #7d17e4;
    display: block;
}

.myTime {
    text-align: right;
    font-size: 13px;
    color: gray;
    clear: both;
}

.otherText {
    float: left;
    clear: both;
    color: blueviolet;
    background: azure;
    color: azure;
    background: blueviolet;
    margin-bottom: 1rem;
    padding: 0 1rem;
    border-radius: 10px;
}

.time {
    display: flex;
    font-size: 13px;
    color: rgb(204, 200, 200);
}

.time p {
    margin-right: 5px;
}

.text-box {
    height: 30%;
    width: 100%;
    padding: 0 1rem;
}

.text-box textarea {
    height: 75%;
    width: 100%;
    padding: 1rem;
    border: none;
    resize: none;
    font-size: 20px;
    background: rgba(200, 200, 200, 0.5);
}

.btn-box {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-box button {
    height: 80%;
    width: 150px;
    margin-left: 3rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 0 2rem;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

footer a {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}


/* =========================================== */

.task h2 {
    /* background: var(--clr-blue); */
    /* color: var(--clr-light); */
    height: 20%;
    text-transform: uppercase;
}

.task-input {
    display: flex;
    height: 15%;
}

.task-input input {
    width: 90%;
    height: 100%;
    padding: 0 1rem;
}

.task input:focus {
    box-sizing: border-box;
    border: 2px solid #56adcf;
    outline: none;
}

.add_btn {
    font-weight: bold;
    background: azure;
    width: 10%;
    /* border: none; */
    font-size: 20px;
    height: 100%;
}

#container {
    width: 100%;
    height: 65%;
    overflow: scroll;
}

.fa-plus {
    float: right;
}

.task_list {
    background: rgba(226, 204, 247, 0.5);
    height: 2.5rem;
    line-height: 2.5rem;
    color: azure;
}

.task_list:nth-child(2n) {
    background: rgba(240, 238, 241, 0.3);
}

span {
    background: rgb(255, 0, 0);
    height: 2.5rem;
    margin-right: 1.3rem;
    text-align: center;
    color: azure;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

span:hover {
    width: 40px;
    opacity: 1;
}

.task_ul {
    list-style: none;
}

.completed {
    color: rgba(128, 23, 228, 0.3);
    text-decoration: line-through;
}

@media screen and (max-width: 950px) {
    header {
        padding: 0 1rem;
    }
    h1 {
        width: 30%;
        font-size: 20px;
    }
    header p {
        margin-left: 3rem;
        width: 28%;
    }
    .text-box {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    main {
        flex-direction: column;
        top: 100px;
        position: static;
    }
    header {
        height: 100px;
        display: block;
        position: static;
    }
    h1 {
        width: 100%;
        font-size: 24px;
    }
    header p {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header input {
        height: 30px;
        width: 70%;
        font-size: 20px;
    }
    header button {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .task {
        width: 100%;
        height: 50vh;
        margin: 0;
    }
    .chat {
        width: 100%;
        height: 50vh;
        margin: 0;
    }
    .text-box textarea {
        margin: 0;
        padding: 5px;
    }
    .btn-box button {
        height: 100%;
        width: 150px;
        margin-left: 2rem;
    }
    footer {
        display: block;
        position: static;
    }
}