    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        font-family: 'Hiragino Mincho Pro';
    }
    
    html {
        height: 100%;
    }
    
    body {
        width: 100%;
        background: black fixed;
    }
    
    .main {
        width: 80%;
        height: 80vh;
        margin: 1rem auto;
        text-align: center;
    }
    
    img {
        height: 100%;
    }
    
    .text {
        height: 10%;
        text-align: center;
    }
    
    .text input {
        width: 30%;
        padding: 0 2rem;
        background: rgba(200, 200, 200, 0.7);
        color: white;
    }
    
    .btn {
        height: 15%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
    }
    
    button {
        width: 20%;
        height: 40px;
    }