* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

p.today {
    margin-bottom: 10px;
}

.img_box {
    width: 100%;
}

img {
    width: 100%;
}

#starfield-div {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nasa_content {
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 50%;
}

.title {
    font-size: 2.3rem;
}

.text_box {
    width: 30%;
    height: 70%;
    font-size: 0.9rem;
    display: table;
    margin-top: 80px;
    margin-left: 40px;
}

.text {
    display: table-cell;
    vertical-align: middle;
}

.today {
    font-size: 1.3rem;
    margin-bottom: 3rem;
}